.flex {
  display: flex;
  justify-content: space-between;
}
.flex > div > * {
  color: white;
  margin-left: 1em;
}
.button-left {
  margin-right: 1em;
}
.button-right {
  margin-left: 1em;
}
.perceelInfoButtons {
  display: flex;
  /* padding: 5px; */
}
.form-group {
  margin: 0;
}
.perceelInfoButtons > * {
  display: inline-block;
  padding: 10px 10px 10px 0;
}
.card-header {
  padding: 0 0.75rem;
}
.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}
.card-header > h5 {
  padding: 10px 10px 10px 0;
}

/* .buttonContainer {
  display: flex;
  justify-content: space-between;
}
.buttonContainer > button {
  width: 45%;
} */

@media (max-width: 576px) {
  .button-left {
    margin-right: 0;
    margin-bottom: 1em;
  }
  .button-right {
    margin-left: 0;
  }
}
