h1::before {
  background-image: url("./assets/images/logo.svg");
  content: "";
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
}
.TodoList {
  position: fixed;
  bottom: 0;
  right: 0;
  color: pink;
  width: 300;
}

/* Blink icoontjes */
@keyframes fa-blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.fa-blink {
  -webkit-animation: fa-blink 1.5s linear infinite;
  -moz-animation: fa-blink 1.5s linear infinite;
  -ms-animation: fa-blink 1.5s linear infinite;
  -o-animation: fa-blink 1.5s linear infinite;
  animation: fa-blink 1.5s linear infinite;
}
